venv/
venv
*.ini
desktop.ini
*.sqlite3
__pycache__
*.pyc
.idea/
.vscode/
secret.py
*.log
.vagrant/
lookup.json
clues/scripts/pickles/
.pyenv/
pickles/full-en.pkl
pickles/full-es.pkl
pickles/full-fr.pkl
pickles/full-de.pkl
celerybeat-schedule
