{% extends 'base.html' %}
{% load static %}
{% block title %} Crosswords: About {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock %}

{% block main %}
    <h1>
        What is Xwords?
    </h1>
    <p>
        This website is an interactive website made by students of Dr. Gabor at TJHSST in Northern Virginia.
        In this website, you can solve American Crosswords of any size or shape with any number of blocks in 5 different languages.
    </p>
    <p>
        This website runs on the Django Web Framework with a backend entirely composed of Python.
        Additionally it uses the Django Database to store word data and HTML to display pages.
        It incorporates Bootstrap CSS files for an appealing look.
    </p>
    <h1>
        The Team
    </h1>
    <div class = "container">
        <h3>Backend Team</h3>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Anup Bagali</h5>
            <h6 style="display: inline">  - Period 2</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Ryan Kim</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Rohan Mishra</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Soham Ghandi</h5>
            <h6 style="display: inline">  - Period 2</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Anson Tran</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Ankit Khandelwal</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Anand Ramaka</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Siddarth Shah</h5>
            <h6 style="display: inline">  - Period 2</h6>
        </div>
        <br>
        <h3>Frontend Team</h3>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Srikar Gouru</h5>
            <h6 style="display: inline">  - Period 2</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Varun Asuri</h5>
            <h6 style="display: inline">  - Period 2</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Shashank Kalluri</h5>
            <h6 style="display: inline">  - Period 2</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Andy He</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Alexander Talamonti</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Soham Gandhi</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Johnny Pesavento</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Evan Zhang</h5>
            <h6 style="display: inline">  - Period 4</h6>
        </div>
        <div style="padding-top: 5px">
            <h5 style="display: inline">Mikhail Allen</h5>
            <h6 style="display: inline">  - Period 6</h6>
        </div>
        <br>
    </div>
{% endblock %}
