{% extends 'base.html' %}
{% load static %}
{% block title %} Play Crosswords {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/play.css' %}">
    <script src="{% static 'js/design/display.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/play/clues.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/play/inputHandler.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/play/play.js' %}" type="text/javascript"></script>
    <script>
        const crossword_id = {{ id }};
    </script>
    <script src="{% static 'js/play/socket.js' %}" type="text/javascript"></script>
{% endblock %}

{% block main %}
    <div id="root">
        <div id="total">
            <div style="width: 33%">
                <h1>Play Crosswords!</h1>
                <h3>Your Puzzle:</h3>
                <div id="board"></div>
            </div>
            <br>
            <div id="clues_total" style="margin-left: 25px"></div>
        </div>
        <br>
        <p class="lead mt-4">
            <button class="temp btn btn-primary btn-lg" id="evaluate" role="button" accesskey="e" title="Submit your answers for evaluation.">Evaluate</button>
            <button class="temp btn btn-primary btn-lg" id="showAnswers" role="button" accesskey="s" title="Show answers to the crossword." onclick="">Show Answers</button>
            <button id="clearBoard" type="button" class="btn btn-primary btn-lg" accesskey="w" title="Clear all letters from the board.">Clear Board</button>
            <button id="pdf" type="button" class="btn btn-primary btn-lg" accesskey="g" data-toggle="modal" data-target="#pdfForm" title="Generate a PDF of your current work.">Generate PDF ...</button>
        </p>
        <div class="modal fade" id="pdfForm" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Generate Crosswords PDF</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'crosswords:pdf' %}" method="post" id="design_form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{ form.as_p }}
                            </div>
                            <input id="pdfSubmit" type="submit" class="btn btn-primary btn-lg" value="Submit">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="loading">
        <div class = "loader"></div>
    </div>
{% endblock %}
